@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

a {
    text-decoration: none;
  }
  
  a:hover {
    opacity: 1;
    color: #f5ada4;
  }
body {
    margin: 0px;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 80pt;
    text-align: center;
    user-select: none;
    color: aliceblue;
}

#header {
    text-align: right;
    height: 100px;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}

body {
    background: #f04a4a;
}