.gallary{
  margin-top: auto;
  margin-bottom: auto;
}
body {
  width: 100%;
  height: 100vh;
  background: url("../img/background.gif");
  background-size: cover;
}

.flex-column {
  max-width: 249px;
}

img {
  margin: 5px;
}

.scale {
  transform: scaleY(1.05);
  padding-top: 5px; 
}
.zoom {
  transition: transform .2s;
}
.zoom:hover {
  transform: scale(1.2);
}
